*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-primary: "Inter", sans-serif; /* Great for UI/Nav */
  --font-secondary: "Roboto", sans-serif; /* Great for Headers */
  --font-accent: "Baskervville", serif; /* Perfect for Body Text */
}

img {
  max-width: 100%;
  display: block;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 10px;
  font-family: var(--font-primary);
  line-height: 1.5;
}
